@import "_reset";
@import "_hamburger";
@import "_colors";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  background: #232323;
  padding: 1rem;
  position: relative;
  z-index: 2;
}

.nav__items {
  width: 100%;
  background: $white;
  padding: 4.5rem 1.5rem 4rem;
  font-size: 2rem;
  font-weight: 200;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.75rem;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1;
  transition: transform 0.35s ease-in-out;

  a:hover {
    color: tomato;
  }
}

.nav__hamburger.open ~ .nav__items {
  transform: translateX(100%);
  transition: transform 0.35s ease-in-out;
}
