@import "/css/_reset";
@import "/css/_colors";
@import "/css/_hamburger";
@import "/css/_hero";
@import "/css/_masonry";
@import "/css/_grid";
@import "/css/_queries";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sectionHeading {
  text-align: center;
  font-size: 3rem;
  font-family: "Lobster Two";
  font-weight: bold;
  margin-bottom: 3rem;
}

.nav {
  background: rgba(35, 35, 35, 0.95);
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.homeLogo {
  font-family: "Yellowtail";
  font-size: 3rem;
  color: white;
  text-align: center;
}

.nav__items {
  width: 100%;
  background: $white;
  padding: 4.5rem 1.5rem 4rem;
  font-size: 2rem;
  font-weight: 200;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.75rem;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1;
  transition: transform 0.35s ease-in-out;

  a:hover {
    color: tomato;
  }
}

.nav__hamburger.open ~ .nav__items {
  transform: translateX(100%);
  transition: transform 0.35s ease-in-out;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 1rem;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.card__text {
  line-height: 1.5rem;
}

footer {
  background: rgba(35, 35, 35, 0.95);
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
}

.socialLinks {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-around;
  grid-gap: 3rem;
  width: max-content;

  :hover {
    color: $orange;
    cursor: pointer;
  }
}

.socialIcon {
  color: $white;
  font-size: 2rem;
}

.copyright {
  color: $white;
}
